/*Responsive Stylesheet*/

@media screen and (max-width: 1024px) and (max-height: 768px) and (orientation: landscape) {
    h1 {
        margin-top: 60px;
    }
    h2 {
        font-size: 23px;
        margin-left: 50px;
        margin-right: 50px;
    }
.flex-container-1, .flex-container-2, .flex-container-3, .flex-container-4 {
    display: inline-block;
}
.flex-container-1, .flex-container-3 {
    margin-left: 190px;
}
    .flex-container-2, .flex-container-4 {
        margin-left: 100px;
    }
}
@media screen and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
    h1 {
        margin-top: 60px;
    }
    h2 {
        font-size: 23px;
        margin-left: 50px;
        margin-right: 50px;
    }
    .flex-container-1, .flex-container-2, .flex-container-3, .flex-container-4 {
        display: inline-block;
        margin-left: 80px;
    }
}
@media screen and (max-width: 767px) {
    #logo img {
        height: 200px;
        width: 275px;
        margin-top: 30px;
    }
    .flex-container-1, .flex-container-2, .flex-container-3, .flex-container-4 {
        margin-left: 50px;
    }
    h1 {
        font-size: 40px;
        line-height: 50px;
    }
    h2 {
        font-size: 20px;
        line-height: 35px;
        margin-left: 35px;
        margin-right: 35px;
    }
}